@media screen and (max-width: 390px) {
    .card-content {
        width: 100px;
        margin: 50px;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .card-content:hover {
        transform: scale(1.3);
        transition: 1.5s;
    }
    .container h3 {
        background-color: #deeff9;
        margin-top: 10px;
        margin-bottom: 28px;
        font-size: 20px;
        border-radius: 10px;
    }
    .cardbio {
        width: 50%;
        margin-top: -5px;
        border-top: 3px solid #2d2d2d;
        padding: -20px;
    }
    .cardcontainer {
        font-family: monospace;
        color: #444444;
        font-size: 10px;
        text-align: left;
        margin-top: -6px;
        padding-right: 10px;
        margin-left: -30px;
    }
    img {
        margin-bottom: -40px;
        margin-top: 10px;
        width: 60%;
        height: 85px;
        border-radius: 20%;
        border: 2px solid #ccc;
    }
    .container {
        padding: 2px 10px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        background-color: #b5e2fa;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .cardheading {
        padding-top: 20px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 20px;
        color: #fff;
        font-weight: bold;
    }
    .head p {
        font-size: 20px;
    }
    h2 {
        display: none;
    }
    

    
}